<div>
	<div>
		<b class="heading-6">{% trans %}member.shipping.address{% endtrans %}</b>
		<a href="javascript:void(0)" id="selectShippingAddress" class="badge badge-warning" ng-click="selectShippingAddress()">Edit</a>
	</div>
	<div ng-show="shipping_address.id">
		<b>{{'{{shipping_address.firstName}}'}} {{'{{shipping_address.lastName}}'}} </b><br/>
		<small class="pb-3">
			<span ng-show="shipping_address.companyName">{{'{{shipping_address.companyName}}'}}<br/></span>
			{{'{{shipping_address.address}}'}}, {{'{{shipping_address.district}}'}}, {{'{{shipping_address.amphure}}'}},
			{{'{{shipping_address.province}}'}} {#, <span ng-show="shipping_address.countryCode"> {{'{{shipping_address.countryCode.country}}'}} </span>#}
			{{'{{shipping_address.postCode}}'}}<br />
			{{'{{shipping_address.phone}}'}}
			<span ng-show="billing_address.id == shipping_address.id && shipping_address.taxPayerId"><br/> {% trans %}member.taxpayerid{% endtrans %} {{'{{shipping_address.taxPayerId}}'}} </span>
		</small>

		{#
		{% if is_granted('ROLE_CUSTOMER') %}
			<p ng-if="arr_cart_data.summary.direction.distance">
				Shipping distance is {{'{{arr_cart_data.summary.direction.distance_text}}'}} from {{'{{arr_cart_data.summary.direction.origin_showroom_name}}'}}
			</p>
		{% endif %}
		#}
	</div>
</div>
<div>
	<div>
		<b class="heading-6">{% trans %}member.billing.address{% endtrans %} <span ng-show="billing_address.id && billing_address.id == shipping_address.id">{% trans %}member.billing.same_address{% endtrans %}</span></b>
		<a href="javascript:void(0)" id="selectBillingAddress" class="badge badge-warning" ng-click="selectBillingAddress()">Edit</a>
	</div>

	<div class="pb-3" ng-show="billing_address.id && billing_address.id != shipping_address.id">
		<b> {{'{{billing_address.firstName}}'}} {{'{{billing_address.lastName}}'}} </b><br/>
		<small  class="pb-3">
			<span ng-show="billing_address.companyName">{{'{{billing_address.companyName}}'}}<br/></span>
			{{'{{billing_address.address}}'}}, {{'{{billing_address.district}}'}}, {{'{{billing_address.amphure}}'}},
			{{'{{billing_address.province}}'}} {#, <span ng-show="billing_address.countryCode"> {{'{{billing_address.countryCode.country}}'}} </span>#}
			{{'{{billing_address.postCode}}'}}<br />
			{{'{{billing_address.phone}}'}}
			<span ng-show="billing_address.taxPayerId"><br/> {% trans %}member.taxpayerid{% endtrans %} {{'{{billing_address.taxPayerId}}'}} </span>
		</small>
	</div>
</div>
