{% form_theme form 'bootstrap_3_layout.html.twig' %}

<!-- /.box-header -->
<div class="box-body">

	<div class="form-group">
		<label class="control-label col-md-2" for="productOptionCategory"><span class="require">*</span> Option Category</label>
		<div class="col-md-9">
			{{form_widget(form.productOptionCategory, {'id' : 'productOptionCategory'})}}
			<div class="error-form">{{form_errors(form.productOptionCategory)}}</div>
		</div>
	</div>

	<div class="form-group">
	    <label class="control-label col-md-2" for=""> Translation</label>
		<div class="col-md-9">
			    {{ form_widget(form.translations) }}
	    </div>
	</div>

	<div class="form-control-static">
		<div class="form-group">
			<label class="control-label col-md-2" for=""> Image</label>
			<div class="col-md-9">
				{{form_widget(form.image, {'id' : 'image'})}}
				<a href="javascript:void(0)" onclick="selectFileWithCKFinder('image', 'image_thumbnail');" style="" >
					{% if form.vars.value.image %}
						<img id="image_thumbnail" class="img-responsive" src="{{asset(form.vars.value.image) | imagine_filter('img_100x100')}}" alt="{{form.vars.value.getTitle}}" />
					{% else %}
						<img id="image_thumbnail" class="img-responsive" src="https://placehold.it/100x100" width="100px;">
					{% endif %}
				</a>
				{% if form.vars.value.image %}
					<span class="checkbox icheck">
						<input type="checkbox" id="removefileimage" name="removefileimage" value="1">
						<label class="control-label" for="removefileimage">  Remove</label>
					</span>
				{% endif %}

				<div class="input-group clearfix">
					<p class="help-block">image size 100x100 px</p>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-md-2" for="defaultOption"></label>
		<div class="col-md-9">
			{{form_widget(form.defaultOption, {'id' : 'defaultOption'})}}
			<div class="error-form">{{form_errors(form.defaultOption)}}</div>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-md-2" for="status"> Price</label>
		<div class="col-md-9">
			{{form_widget(form.price, {'id' : 'price'})}}
			<div class="error-form">{{form_errors(form.price)}}</div>
		</div>
	</div>

	<div class="form-group icheck">
		<label class="control-label col-md-2" for="status"> Status</label>
		<div class="col-md-9">
			{{form_widget(form.status, {'id' : 'status'})}}
			<div class="error-form">{{form_errors(form.status)}}</div>
		</div>
	</div>

</div>

<div class="box-footer">
	<div class="row">
		<div class="col-md-offset-2 col-md-9">
			{{form_widget(form.save, {'id' : 'save', 'label': btn_label_save})}}
			{{form_widget(form.save_and_add, {'id' : 'save_and_add', 'label': btn_label_save_add})}}
			{{form_widget(form.save_and_edit, {'id' : 'save_and_edit', 'label': btn_label_save_edit})}}
			<a href="{%if app.session.get('back_to_url')['admin_product_option'] is defined%}{{app.session.get('back_to_url')['admin_product_option']}}{%else%}{{path('admin_product_option')}}{%endif%}" class="btn btn-default">{{btn_label_close}} </a>
		</div>
	</div>
</div>
