{% extends "ProjectBundle:"~ view_layout ~":layout.html.twig" %}

{% block title %}{{data.getTitle}} | {% trans %}menu.inspiration{% endtrans %} | {{ parent() }}{% endblock %}
{% block inspiration_active %}active{% endblock %}

{% block breadcrumbs_title %}{% trans %}menu.inspiration{% endtrans %}{% endblock %}
{% block breadcrumbs_custom %}
	<li><a href="{{path('inspiration')}}">{% trans %}menu.inspiration{% endtrans %}</a></li>
	<li><a href="{{path('inspiration_category',{'cate_id':data.inspirationCategory.id,'slug':data.inspirationCategory.getSlug})}}">{{data.inspirationCategory.getTitle}}</a></li>
	<li class="active">{{data.getTitle}}</li>

{% endblock %}

{% block content %}
<div class="pt-4 pb-5">
	<div class="container">
		<div class="row row-60 justify-content-sm-center">
			<div class="col-lg-8 section-divided__main">
				<section class="section-sm post-single-body">
					<h3>{{data.getTitle}}</h3>
					{% if data.image %}
						<img src="{{asset(data.image) | imagine_filter('img_w_900')}}" alt="{{data.getTitle}}" class="w-100"/>
					{% endif %}

					{% if data.getDescription %}
						{{data.getDescription|raw}}
					{% endif %}

				</section>

				{% if data.products|length > 0 %}
				<section class="section-sm">
					<div class="row row-30">
						{% for product in data.products %}
						<div class="col-6 col-md-4">
							<!-- Post classic-->
							{% if product.image %}
							<article class="post-classic post-minimal">
								<a href="{{path('inspiration_detail',{'id':product.id,'slug':product.getTitle|slug})}}">
									<img src="{{asset(product.image) | imagine_filter('img_product_bg_480x480')}}" alt="" width="418" height="315"/>
								</a>

								<div class="post-classic-title">
									<h6><a href="{{path('product_detail',{'id':product.id,'slug':product.getTitle|slug})}}">{{product.getTitle}}</a></h6>
								</div>

								<div class="post-minimal-footer">
				                  	<a href="{{path('product_detail',{'id':product.id,'slug':product.getTitle|slug})}}" class="button button-link">Shop now</a>
				                </div>
							</article>
							{% else %}
							<article class="post-quote post-minimal">
								<!-- Quote default-->
								<a class="quote-default" href="{{path('inspiration_detail',{'id':product.id,'slug':product.getTitle|slug})}}">
									<svg class="quote-default__mark" version="1.1" baseprofile="tiny" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30.234px" height="23.484px" viewbox="0 0 30.234 23.484" xml:space="preserve">
										<g>
										<path d="M12.129,0v1.723c-2.438,0.891-4.348,2.291-5.73,4.201c-1.383,1.911-2.074,3.897-2.074,5.959              c0,0.445,0.07,0.773,0.211,0.984c0.093,0.141,0.199,0.211,0.316,0.211c0.117,0,0.293-0.082,0.527-0.246              c0.75-0.539,1.699-0.809,2.848-0.809c1.336,0,2.519,0.545,3.551,1.635c1.031,1.09,1.547,2.385,1.547,3.885              c0,1.57-0.592,2.953-1.775,4.148c-1.184,1.195-2.619,1.793-4.307,1.793c-1.969,0-3.668-0.809-5.098-2.426              C0.715,19.441,0,17.274,0,14.555c0-3.164,0.972-6,2.918-8.508C4.863,3.539,7.933,1.524,12.129,0z M29.039,0v1.723              c-2.438,0.891-4.348,2.291-5.73,4.201c-1.383,1.911-2.074,3.897-2.074,5.959c0,0.445,0.07,0.773,0.211,0.984              c0.094,0.141,0.199,0.211,0.316,0.211s0.293-0.082,0.527-0.246c0.75-0.539,1.699-0.809,2.848-0.809c1.336,0,2.52,0.545,3.551,1.635              s1.547,2.385,1.547,3.885c0,1.57-0.592,2.953-1.775,4.148s-2.619,1.793-4.307,1.793c-1.969,0-3.668-0.809-5.098-2.426              s-2.145-3.785-2.145-6.504c0-3.164,0.973-6,2.918-8.508C21.773,3.539,24.844,1.524,29.039,0z"></path>
										</g>
									</svg>
									<div class="quote-default__text">
										<p class="q heading-4">{{product.getTitle}}</p>
									</div>
									<p class="quote-default__cite button button-link">Shop now</p>
								</a>
							</article>
							{% endif %}
						</div>
						{% endfor %}
					</div>

				</section>
				{% endif %}

				<section class="section-sm">
					<div class="row row-60 justify-content-md-between">
						<div class="col-md-5 text-center text-md-left">
							<a href="{{path('inspiration_category',{'cate_id':data.inspirationCategory.id,'slug':data.inspirationCategory.getSlug})}}" class="unit flex-row unit-spacing-md align-items-center row-xs-center row-sm-left">
								<div class="unit__left">
									<span class="icon icon-md linear-icon-arrow-left"></span>
								</div>
								<div class="unit__body">
									<p class="small">{% trans %}back{% endtrans %}</p>
								</div>
							</a>
						</div>
						<div class="col-md-5 text-center text-md-right">
							<ul class="list-inline-sm">
								<li><h6>{% trans %}share{% endtrans %}</h6></li>
								<li><a class="icon-sm fa-facebook icon" href="#"></a></li>
								<li><a class="icon-sm fa-twitter icon" href="#"></a></li>
								<li><a class="icon-sm fa-google-plus icon" href="#"></a></li>
							</ul>
						</div>
					</div>
              	</section>

			</div>

			<div class="col-lg-4 section-divided__aside section-divided__aside-left">
				{% if latests|length > 0 %}
				<section class="section-sm">
                	<h5>{% trans %}inspiration.latest{% endtrans %}</h5>
                	<ul class="list-md">
						{% for latest in latests %}
                  		<li>
                    		<article class="unit flex-sm-row unit-spacing-sm">
                      			<div class="unit__left">
									<a href="{{path('inspiration_detail',{'id':latest.id,'slug':latest.getTitle|slug})}}">
	                        			<figure class="figure-inline text-center text-sm-left">
											{% if latest.image %}
											<img src="{{asset(latest.image) | imagine_filter('img_120x74')}}" alt="{{latest.getTitle}}" width="120" height="74">
											{% endif %}
										</figure>
									</a>
                      			</div>
                      			<div class="unit__body post-inline">
                    				<p class="post-inline__link">
										<a href="{{path('inspiration_detail',{'id':latest.id,'slug':latest.getTitle|slug})}}">{{latest.getTitle}}</a>
									</p>
                      			</div>
                    		</article>
                  		</li>
						{% endfor %}
						<li class="text-right">
							<a href="{{path('inspiration')}}" class="button button-link">{% trans %}view.all{% endtrans %}</a>
						</li>
                	</ul>
              	</section>
				{% endif %}

				{#<section class="section-sm">
                	<h5>Tags</h5>
                	<ul class="list-tags">
                  		<li><a href="#">Bedroom</a></li>
                  		<li><a href="#">Dining Room</a></li>
                  		<li><a href="#">Kids Room</a></li>
                  		<li><a href="#">Living Room</a></li>
                  		<li><a href="#">Office</a></li>
                	</ul>
              	</section>#}

				{% include 'ProjectBundle:'~ view_layout ~'/Main:_social.html.twig' %}

			</div>
		</div>
	</div>
</div>
{% endblock %}
