{% trans_default_domain 'FOSUserBundle' %}

{#{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}#}

{#  {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div class="form-wrap">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" id="_submit" name="_submit" class="btn btn-marathon">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
        <a href="{{path('fos_user_profile_show')}}" class="btn btn-default">{{'profile.edit.close'|trans({}, 'FOSUserBundle')}}</a>
      </div>
    </div>
  {{ form_end(form) }}#}

<form action="{{path('fos_user_change_password')}}" method="post" id="fos_user_change_password" name="fos_user_change_password" enctype="multipart/form-data" class="form-horizontal" novalidate>
    {{form_widget(form._token)}}

    <div class="row mt-0">
        <div class="col-md-7 col-lg-6 mt-3">
            <div class="form-wrap">
                <label for="current_password">{{ 'form.current_password'|trans({}, 'FOSUserBundle') }} *</label>
                {{form_widget(form.current_password, {'id' : 'current_password','attr': {'class': 'form-input'}})}}
                <div class="text-danger">{{form_errors(form.current_password)}}</div>
            </div>

            <div class="form-wrap">
                <label for="password">{{ 'form.new_password'|trans({}, 'FOSUserBundle') }} *</label>
                {{form_widget(form.plainPassword.first,{'id' : 'password','attr': {'class': 'form-input'} })}}
                <div class="text-danger">{{form_errors(form.plainPassword.first)}}</div>
            </div>

            <div class="form-wrap">
                <label for="confirm-password">{{ 'form.new_password_confirmation'|trans({}, 'FOSUserBundle') }} *</label>
                {{form_widget(form.plainPassword.second,{'id' : 'confirm-password','attr': {'class': 'form-input'} })}}
                <div class="text-danger">{{form_errors(form.plainPassword.second)}}</div>
            </div>

            <div class="member-btn mt-3 mb-3">
                <button type="submit" id="_submit" name="_submit" class="button button-primary">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
                <a href="{{path('fos_user_profile_show')}}" class="button button-black">{{'profile.edit.close'|trans({}, 'FOSUserBundle')}}</a>
            </div>
        </div>
    </div>

</form>
