{% extends 'ProjectBundle::admin.html.twig'%}

{% block stylesheets %}
  {{ parent() }}
  <link href="{{asset('rateyo/jquery.rateyo.min.css')}}" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('rateyo/jquery.rateyo.min.js') }}"></script>
{% endblock %}

{% use "ProjectBundle:AdminReview:blocks.html.twig" %}
{% use "ProjectBundle::flash_message.html.twig" %}

{% block content %}
<div class="row">
	<div class="col-md-8 margin-10-0">
    <a href="{{path('admin_review')}}" class="btn btn-info" title="Refresh"><i class="fa fa-refresh"></i> Refresh</a>
    {% if  is_granted('ROLE_ADMIN') %}
      <a href="{{path('admin_review_setting')}}" class="btn bg-purple" title="setting"><i class="fa fa-cogs"></i> Setting</a>
    {% endif %}
	</div>
</div>

<br class="clearBoth">

<div class="row">
  <div class="col-xs-12">
    <div class="box" style="min-height: 1000px;">
    	<div class="box-body">
		  	<div class="row">
		  		<div class="col-md-12">
						<button type="button" class="btn bg-red" data-form_id="data_group" id="group_delete">
							<i class="fa fa-trash-o"></i> Delete
						</button>
						<button type="button" class="btn bg-olive" data-form_id="data_group" id="group_enable">
							<i class="fa fa-check"></i> Publish
						</button>
						<button type="button" class="btn bg-gray" data-form_id="data_group" id="group_disable">
							<i class="fa fa-times"></i> Unpublish
						</button>
					</div>
    		</div>
    	</div>

      <form action="#" method="post" id="data_group" data-delete_path="{{path('admin_review_group_delete')}}" data-enable_path="{{path('admin_review_group_enable')}}" data-disable_path="{{path('admin_review_group_disable')}}">
	      <div class="box-body">
	      	<table class="table table-hover icheck">
	      		<thead>
	          <tr>
	            <th width="19"><input type="checkbox" id="select_all" /></th>
              <th>Product</th>
              <th>Reviewer</th>
              <th width="100">Rating</th>
              <th>Detail</th>
              <th class="text-center">Date</th>
              <th class="text-center" width="50">Status</th>
							<th class="text-center" width="50">Delete</th>
	          </tr>
	          </thead>
	          <tbody>
							{% for data in paginated.currentpageresults %}
							<tr class="odd gradeX">
								<td><input type="checkbox" name="data_ids[]" class="check_all" value="{{data.id}}"/></td>
                <td>
                  {% set image = data.product.getImage %}
                  {% set product_title = data.product.getTitle %}

                  {% if image %}
  					    		  <img src="{{asset(image) | imagine_filter('img_product_thumb')}}" alt="{{product_title}}" />
					    		{% else %}
					    		  <img src="https://placehold.it/50x50" alt="{{product_title}}">
					    		{% endif %}
                  <br/>
                  {{product_title}}
                  <br/>
                </td>

                <td>
                  <a href="{{path('admin_review_view', {'id' : data.id})}}">{{ data.reviewerName}}</a>
                </td>
                <td>
                  <div id="rating_star_{{data.id}}"></div>
                </td>
                <td>
                  <b>{{data.title}}</b><br/>
                  {{data.content|nl2br}}</td>
                <td class="text-center">{{data.createdat|date('d/m/Y H:i:s')}}</td>
								<td class="text-center">{{ data.status|status|raw }}</td>
                <td class="text-center"><a href="{{path('admin_review_delete', {'id' : data.id})}}" onclick="return confirm('Are you sure you want to delete?');" title="Delete"><i class="fa fa-trash fa-2x"></i></a></td>
							</tr>
              <script>
                $("#rating_star_{{data.id}}").rateYo({
          				// The width of each star
          				starWidth: "15px",
          				normalFill: "#f1f1f1",
          				ratedFill: "#faca51",
          	      rating: {{data.ratingScore}},
          	      readOnly: true
          	    });
              </script>
							{% endfor %}
						</tbody>
	        </table>

	      </div><!-- /.box-body -->

      	<div class="box-footer clearfix">
	      	<div class="row">
	        	<div class="col-md-3">
	        		<div class="margin">Total : {{paginated.getNbResults}}</div>
	      		</div>
	      		<div class="col-md-9">
      				{% if paginated.havetopaginate %}
				        {{pagerfanta(paginated,'twitter_bootstrap3_translated')}}
							{% endif %}
						</div>
					</div>
				</div>
      </form>
    </div><!-- /.box -->
  </div>
</div>

{% endblock %}
