{#{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
    <div class="forget-pw-change">
        {{ form_widget(form) }}
    </div>
    <button type="submit" id="_submit" name="_submit" class="btn btn-block btn-marathon">{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}</button>
{{ form_end(form) }}#}

<section class="bg-default section-md">
    <div class="container">
        <h4 class="text-center">{{ 'change_password.title'|trans }}</h4>
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 text-center">
                <form name="fos_user_resetting_form" method="post" action="{{ path('fos_user_resetting_reset', {'token': token}) }}" class="rd-mailform">
                    {{form_widget(form._token, {'id' : 'fos_user_resetting_form__token'})}}

                    <div class="form-wrap">
                        <label for="fos_user_resetting_form_plainPassword_first" class="form-label">{{ 'form.new_password'|trans({}, 'FOSUserBundle') }}</label>
                        {{form_widget(form.plainPassword.first, {'id' : 'fos_user_resetting_form_plainPassword_first','attr':{'class':'form-input'}})}}
                    </div>
                    <div class="text-danger">{{form_errors(form.plainPassword.first)}}</div>

                    <div class="form-wrap">
                        <label for="fos_user_resetting_form_plainPassword_second" class="form-label">{{ 'form.new_password_confirmation'|trans({}, 'FOSUserBundle') }}</label>
                        {{form_widget(form.plainPassword.second, {'id' : 'fos_user_resetting_form_plainPassword_second','attr':{'class':'form-input'}})}}
                    </div>
                    <div class="text-danger">{{form_errors(form.plainPassword.second)}}</div>

                    <button type="submit" id="_submit" name="_submit" class="button button-primary">{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}</button>

                </form>
            </div>
        </div>
    </div>
</section>
